<div class="register-container">
  <form [formGroup]="FormGroup" (ngSubmit)="onSubmit()" class="register-form">
    <app-dados-pessoais
      *ngIf="etapaAtual === 1"
      [formGroup]="dadosPessoais"
    ></app-dados-pessoais>

    <app-dados-pet
      *ngIf="etapaAtual === 2"
      [formGroup]="dadosPet"
    ></app-dados-pet>

    <app-senha *ngIf="etapaAtual === 3" [formGroup]="senhaGroup"></app-senha>

    <app-confirmacao
      *ngIf="etapaAtual === 4"
      [formGroup]="FormGroup"
    ></app-confirmacao>

    <div class="buttons">
      <button
        type="button"
        class="btn-prev"
        (click)="voltarEtapa()"
        [disabled]="etapaAtual === 1"
      >
        Voltar
      </button>

      <button
        type="button"
        class="btn-next"
        *ngIf="etapaAtual < 4"
        (click)="irParaProximaEtapa()"
      >
        Próximo
      </button>

      <button type="submit" class="btn-submit" *ngIf="etapaAtual === 4">
        Concluir
      </button>
    </div>
  </form>
</div>
