<div class="register-container">
  <form class="register-form">

    <app-dados-pessoais *ngIf="etapaAtual === 1"></app-dados-pessoais>

   
    <app-dados-pet *ngIf="etapaAtual === 2"></app-dados-pet>

    <app-senha *ngIf="etapaAtual === 3"></app-senha>

    <app-confirmacao *ngIf="etapaAtual === 4"></app-confirmacao>

    <div class="buttons">
      <button type="button" class="btn-prev" (click)="voltarEtapa()" [disabled]="etapaAtual === 1">
        Voltar
      </button>

      <button type="button" class="btn-next" *ngIf="etapaAtual < 4" (click)="irParaProximaEtapa()">
        Próximo
      </button>

      <button type="submit" class="btn-submit" *ngIf="etapaAtual === 4">
        Concluir
      </button>
    </div>
  </form>
</div>
