<div class="resumo-container">
  <div class="form-container">
    <h2>Confirme suas informações:</h2>

    <section>
      <h3>Dados Pessoais</h3>
      <p><strong>Nome:</strong> {{ dadosPessoaisForm.get('nome')?.value }}</p>
      <p><strong>Email:</strong> {{ dadosPessoaisForm.get('email')?.value }}</p>
      <p><strong>CPF:</strong> {{ dadosPessoaisForm.get('cpf')?.value }}</p>
      <p><strong>Telefone:</strong> {{ dadosPessoaisForm.get('telefone')?.value }}</p>
      <p><strong>Celular:</strong> {{ dadosPessoaisForm.get('celular')?.value }}</p>
      <p><strong>CEP:</strong> {{ dadosPessoaisForm.get('cep')?.value }}</p>
      <p><strong>Endereço:</strong> {{ dadosPessoaisForm.get('endereco')?.value }}</p>
      <p><strong>Número:</strong> {{ dadosPessoaisForm.get('numero')?.value }}</p>
      <p><strong>Complemento:</strong> {{ dadosPessoaisForm.get('complemento')?.value }}</p>
      <p><strong>Bairro:</strong> {{ dadosPessoaisForm.get('bairro')?.value }}</p>
      <p><strong>UF:</strong> {{ dadosPessoaisForm.get('uf')?.value }}</p>
      <p><strong>Cidade:</strong> {{ dadosPessoaisForm.get('cidade')?.value }}</p>
    </section>

    <section>
      <h3>Dados do Pet</h3>
      <p><strong>Nome do Pet:</strong> {{ dadosPetForm.get('nomePet')?.value }}</p>
      <p><strong>Espécie:</strong> {{ dadosPetForm.get('especie')?.value }}</p>
      <p><strong>Raça:</strong> {{ dadosPetForm.get('raca')?.value }}</p>
      <p><strong>Data de Nascimento:</strong> {{ dadosPetForm.get('dataNascimento')?.value | date }}</p>
      <p><strong>Peso:</strong> {{ dadosPetForm.get('peso')?.value }} kg</p>
    </section>

    <section>
      <h3>Senha</h3>
      <p><strong>Senha:</strong> ********</p>
    </section>

    <button type="submit" class="btn btn-success w-100">{{ label }}</button>
  </div>
</div>
