<div class="login-container container py-5">
  <h1 class="text-center text-success mb-4">Login</h1>
  <form class="w-50 mx-auto" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ng-container *ngFor="let field of formFields">
      <div class="mb-3" *ngIf="field.type !== 'button'">
        <label [for]="field.name" class="form-label">{{ field.label }}</label>
        <input
          [type]="field.type"
          [id]="field.name"
          [formControlName]="field.name"
          class="form-control"
          [attr.placeholder]="field.placeholder"
          [required]="field.required"
        />
        <div *ngIf="field.errorMessage" class="text-danger">
          <small>{{ field.errorMessage }}</small>
        </div>
      </div>
    </ng-container>
    <button
      type="submit"
      class="btn btn-success w-100 mb-2"
      [disabled]="loginForm.invalid"
    >
      Entrar
    </button>
    <button
      type="button"
      class="btn btn-outline-success w-100"
      (click)="irParaRegistro()"
    >
      Criar conta
    </button>
    <div *ngIf="errorMessage" class="text-danger text-center mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
