.content {
  @extend .container !optional;

  section {
    margin-bottom: 20px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p,
    ul {
      font-size: 1rem;
      line-height: 1.5;
      color: #333;
    }

    .testimonial {
      margin-top: 10px;

      p {
        font-style: italic;
      }

      span {
        display: block;
        margin-top: 5px;
        font-weight: bold;
      }
    }
  }
}
