.perfil-container {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #fff;
  }

  .perfil-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
