<div class="senha-container">
  <div class="form-field">
    <label for="senha">Senha</label>
    <div class="input-wrapper">
      <input
        id="senha"
        type="{{ hidePassword ? 'password' : 'text' }}"
        formControlName="senha"
        placeholder="Digite sua senha"
      />
      <i
        class="fa"
        [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"
        (click)="togglePasswordVisibility()"
        (keydown.enter)="togglePasswordVisibility()"
        (keydown.space)="togglePasswordVisibility()"
        tabindex="0"
        aria-label="Mostrar ou ocultar senha"
        role="button"
      ></i>
    </div>
    <div class="error-message" *ngIf="senhaForm.get('senha')?.touched && senhaForm.get('senha')?.invalid">
      Senha inválida.
    </div>
  </div>

  <div class="form-field">
    <label for="confirmarSenha">Confirmar Senha</label>
    <div class="input-wrapper">
      <input
        id="confirmarSenha"
        type="{{ hideConfirmPassword ? 'password' : 'text' }}"
        formControlName="confirmarSenha"
        placeholder="Confirme sua senha"
      />
      <i
        class="fa"
        [ngClass]="hideConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
        (click)="toggleConfirmPasswordVisibility()"
        (keydown.enter)="toggleConfirmPasswordVisibility()"
        (keydown.space)="toggleConfirmPasswordVisibility()"
        tabindex="0"
        aria-label="Mostrar ou ocultar senha"
        role="button"
      ></i>
    </div>
    <div class="error-message" *ngIf="senhaForm.get('confirmarSenha')?.touched && senhaForm.get('confirmarSenha')?.invalid">
      Confirmação inválida.
    </div>
  </div>
</div>
